:root {
  --gras-groen: #7BB369;
}

/* NAVBAR */
.navbar {
  background-color: var(--gras-groen);
}

.navbar-nav .nav-link {
  color: #ffffff;
  font-size: 1.1rem;
  transition: all 0.5s;
}

@media screen and (min-width: 1024px) {
  .navbar-nav .nav-item {
    padding: 0 1rem;
  }

  .navbar-brand {
    font-size: 1.5rem;
  }
}

/* HERO */
.hero {
  position: relative;
  background: url('../images/SchapenTuin_Hero_tijden.jpg') center center / cover no-repeat;
  background-size: cover;
  height: 80vh;
  display: flex;
  justify-content: center;   /* Horizontaal in het midden */
  align-items: flex-end;     /* Onderaan */
  color: white;
}

.hero-overlay {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3); /* Transparante zwarte balk */
  display: flex;
  justify-content: center;
}

.hero-text {
  max-width: 500px;
  padding: 2rem;
  color: white;
  text-align: center;
  margin: 0;
  font-family: 'Sacramento', cursive;
}

.hero-text h1 {
  font-size: 4rem; /* Pas aan naar wens, bijv. 3rem voor nog groter */
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.hero-text h3 {
  font-size: 2rem; /* Pas aan naar wens, bijv. 3rem voor nog groter */
  font-weight: bold;
  margin-bottom: 0.5rem;
}

/* Responsief voor kleinere schermen */
@media (max-width: 768px) {
  .hero {
    height: 50vh;
  }

  .hero-text {
    max-width: 90%;
    margin: 0;
    /* margin-left weghalen! */
    padding: 1.5rem;
    border-radius: 15px;
  }

  .hero-text h1 {
    font-size: 2rem;
  }

  .hero-text h3 {
    font-size: 1.2rem;
  }
}

.hero a.btn-reserveer {
  display: inline-block;
  background-color: #fff;
  color: #000;
  border: none;
  border-radius: 999px;
  padding: 0.75rem 1.75rem;
  font-weight: bold;
  font-size: 1.1rem;
  text-decoration: none;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.hero a.btn-reserveer:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
  text-decoration: none;
}


/* CONTENT */
.section {
  padding: 4rem 1rem;
  background-color: #ffffff;
  margin-bottom: 2rem;
  border-radius: 30px;
  /* box-shadow: 0 8px 24px rgba(0, 0, 0, 0.05); */
  transition: transform 0.3s ease;
}

/* .section:hover {
  transform: translateY(-5px);
} */

.section h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: #4d774e;
  /* donkergroen */
}

.section p {
  font-size: 1.1rem;
  line-height: 1.6;
}

.section img {
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  max-width: 100%;
  height: auto;
}

.section:nth-of-type(even) .row {
  flex-direction: row-reverse;
}

@media (max-width: 768px) {
  .section .row {
    flex-direction: column !important;
  }

  .section .col-md-6 {
    text-align: center;
  }

  .section img {
    margin-bottom: 1rem;
  }
}

footer {
  background-color: var(--gras-groen);
  color: white;
  text-align: center;
  padding: 1rem;

}
